<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hqy.cloud.message.tk.mapper.ImGroupMapper">


    <select id="getGroupMemberInfo" resultType="com.hqy.cloud.message.bind.dto.GroupMemberDTO">
        SELECT g.id groupId, g.name groupName, g.notice, m.role, m.user_id id
        FROM t_im_group g,
        (SELECT user_id, `role` FROM t_im_group_member WHERE group_id = #{groupId} AND user_id = #{id} ) m
        WHERE g.id = #{groupId}
    </select>

    <select id="queryGroupContact" resultType="com.hqy.cloud.message.bind.dto.GroupContactDTO">
        SELECT
        g.id groupId,
        g.`index` groupIndex,
        g.name,
        g.avatar groupAvatar,
        g.creator,
        g.is_invite groupInvite,
        m.is_top groupTop,
        m.is_notice groupNotice
        FROM `t_im_group` g,
        (SELECT is_top, is_notice FROM t_im_group_member WHERE `user_id` = #{creator} AND `role` = 1  ) m
        WHERE g.creator = #{creator}
    </select>

</mapper>