<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hqy.cloud.message.tk.mapper.ImGroupMemberMapper">

    <select id="queryMembers" resultType="com.hqy.cloud.message.bind.dto.GroupMemberDTO">
        SELECT m.user_id, g.id groupId, g.name groupName, g.avatar groupAvatar, g.is_invite groupInvite, g.creator groupCreator, m.role
        FROM t_im_group g
        LEFT JOIN t_im_group_member m on g.id = m.group_id
        WHERE m.user_id = #{id} AND g.id IN
        <foreach collection="groupIds" item="groupId" separator="," open="(" close=")">
            #{groupId}
        </foreach>
    </select>

    <select id="queryGroupMembers" resultType="com.hqy.cloud.message.tk.entity.ImGroupMember">
        SELECT group_id,user_id,display_name,`role`,is_top top,is_notice notice
        FROM t_im_group_member
        WHERE group_id = #{groupId} AND user_id IN
        <foreach collection="userIds" separator="," item="userId" open="(" close=")">
            #{userId}
        </foreach>
    </select>

    <update id="updateMember">
        UPDATE t_im_group_member
        <set>
            updated = now()
            <if test="member.displayName != null">
                ,display_name = #{member.displayName}
            </if>
            <if test="member.top != null">
                ,is_top = #{member.top}
            </if>
            <if test="member.notice != null">
                ,is_notice = #{member.notice}
            </if>
            <if test="member.role != null">
                ,`role` = #{member.role}
            </if>
        </set>
        WHERE group_id = #{member.groupId} AND user_id = #{member.userId}
    </update>


</mapper>